<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>

        
        {{>header}}

        <form>
            <input type="text" placeholder="location">
            <button>search</button>

        </form>
</div>

<p id="m1"></p>
<p id="m2"></p>

{{>footer}}
<script src="/js/app1.js"> </script>

    </body>
</html>